/* BASE */
*{
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 30px 100px 0;
}

/* HEADER */
header>h1{
    padding: 20px 0 50px;
}
/* SOTTO-HEADER */
p{
    margin: 0 0 10px;
}

/* ETICHETTE PROFILI */

.container{
    display: inline-block;
    float: none;
    background-color: #13263A;
    width: calc(100% / 3 - 40px);
    height: 100px;
    float: left;
    margin: 30px 20px;
}

.contacts{
    width: calc(100% - 100px);
    height: 100%;
    float: right;
    
}
/* PROBLEMA QUI SOTTO :) */
.contacts>p{
    color: white;
    text-align: left;
    float: left;
    width: 100%;
    display: inline-block;
    line-height: 20px;
    padding-left: 10px;
    margin: calc(33px / 6);

}

.contacts :first-child{
    font-size: 18px;
    font-weight: 500;
}
.contacts :last-child{
    color: cornflowerblue;
}

.img{
    width: 100px;
    float: left;
}